.DS_Store
.idea/
/.venv/
/ref_codes/
/models/test
/models/model_repo/
/models/data/
/.DS_Store
/template/
.env
/front/app/.*/
/front/app/ios/
/front/app/android/
/front/app/linux/
/front/app/macos/
/front/app/web/
/front/app/windows/

Qwen/Qwen3-0.6B-MLX-4bit
/data/
/mlx_pretrain_example/
/train_example/__pycache__/
/train_example/llama.cpp/
/train_example/data/
/train_example/model/
/train_example/*.gguf/

/webserver/__pycache__/
temp-mlx-examples/
