.DS_Store
.idea/
/.venv/
/ref_codes/
/models/test
/models/model_repo/
/models/data/
/.DS_Store
/template/
.env
/front/app/.*/
/front/app/ios/
/front/app/android/
/front/app/linux/
/front/app/macos/
/front/app/web/
/front/app/windows/